useDynLib(texmexseq)
import(ggplot2, dplyr)
export(dpoilog, rpoilog, poilogMLE, texmex.fit, z.transform.sample,
  z.transform.table, f.transform.sample, f.transform.table, ppplot, quad.plot,
  quad.table)
